# api keys
OPENAI_API_KEY=<your-openai-api-key>
TAVILY_API_KEY=<your-tavily-api-key>

# MongoDB connection (컨테이너 내부 기준)
MONGODB_URI=mongodb://<mongodb-username>:<mongodb-passward>@mongo:27017/trend_agent_db?authSource=admin
MONGODB_DB=trend_agent_db

# (Option) langsmith tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-langsmith-api-key>
LANGSMITH_PROJECT=trend-research-agent

